{% extends 'base.html' %}

{% block title %}
    Log-in
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row bottom-offset container">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{ form.email }}
                    <label for="email">Email</label>
                    {% for error in form.email.errors %}
                        <p class="helper-text red-text"><strong>{{ error }}</strong></p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    {{ form.password }}
                    <label for="password">Password</label>
                    {% for error in form.password.errors %}
                        <p class="helper-text red-text"><strong>{{ error }}</strong></p>
                    {% endfor %}
                </div>
            </div>
            <div class="row" id="login-msg" data-msg="{{ msg }}">
                <div class="col s12 center">
                    <a href="{% url 'sign-in' %}" id='register-btn' type="button" class="btn btn-large btn-flat">Register</a>
                    <button id="login-btn" type="submit" class="btn btn-large">Login</button>
                </div>
            </div>
            {% for error in form.errors %}
                <p class="helper-text red-text"><strong>{{ error }}</strong></p>
            {% endfor %}
        </div>
    </form>
    {% if msg %}
        <script>
            let msg = document.getElementById('login-msg').dataset.msg
            M.toast ({html: msg,})
        </script>
    {% endif %}
{% endblock %}
