{% extends 'base.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
        <form method="post">
            {% csrf_token %}
            {% if registered %}
                <div class="container">
                    <br><h5>We have sent you instructions how to confirm your email. (Just <a href="{% url 'activation' %}">click</a> here)</h5>
                </div>
            {% else %}
            <div class="row container bottom-offset">
                <div id='register-fields' class="row">
                    <div class="input-field col s2 offset-s3">
                        {{ form.first_name}}
                        <label for="first_name">First name</label>
                    </div>
                    <div class="input-field col s2">
                        {{ form.middle_name}}
                        <label for="middle_name">Middle name</label>
                    </div>
                    <div class="input-field col s2">
                        {{ form.last_name}}
                        <label for="last_name">Last name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        {{ form.email }}
                        <label for="email">Email</label>
                        {% for error in form.email.errors %}
                            <p class="helper-text red-text"><strong>{{ error }}</strong></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        {{ form.password1 }}
                        <label for="password1">Password</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        {{ form.password2 }}
                        <label for="password2">Repeat password</label>
                        {% for error in form.password2.errors %}
                            <p class="helper-text red-text"><strong>{{ error }}</strong></p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <button id="register-btn" type="submit" class="btn btn-large">Register</button>
                        <a href="{% url 'log-in' %}" id='login-btn' type="button" class="btn btn-large btn-flat">Login</a>
                    </div>
                </div>
            </div>
        </form>
        {% if failed %}
            <script>
                let msg = document.getElementById('sign-in-msg').dataset.msg
                M.toast({html: msg,})
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
